---
layout: default
title: Projects
permalink: /projects/
position: 2
---

<div id="projects">
  <nav>
    {% include nav_links.html %}
  </nav>
  <p class="instruction">hover over a project for more info. click on it to access the project website or relevant files.</p>
  <div class="container project-space">
    {% for project in site.data.projects %}
      <a href="{{ project.link }}">
        <div class="project-frame col-sm-3">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 black-back">
            <h5>{{ project.title  }}</h5>
            <p>{{ project.description }}</p>
            <div class="the-thumbnail">
              <img src="{{ project.thumbnail | prepend: '/images/projects/' }}" alt="#">
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>