#contact {
  background-image: url(../images/backgrounds/concrete-4.jpg);
  background-size: cover;
  min-height: 100vh;
  font-family: $heading-font; 

  
  header {
    border: 1px solid transparent;
  }

  .content-side {
    
    h1 {
      color: black;
      text-align: center;
      font-size: 4vw;
      margin-top: 0;
    }

    h4 {
      color: #020304;
    }

    .form-space {
      color: black;
      position: relative;
      top: 20vmin;
      font-size: 1.5em;

      .btn-success {
        background-color: black;
        border-color: black;
        font-size: 1em;
      }
    }
    
    .social-icons {
      text-align: center;
      font-size: 6em;
      margin-top: 3em;

      a, a:hover {
        color: black;
        margin: 0 0.5em 0 0.5em;
      }
    }     
  }

  .picture-side {
    position: relative;
    text-align: center;
    color: black;

    .live-map {
      position: relative;
      top: 15vmin;
      border: 5px solid black; 

      .the-map {
        width: 100%;
        height: 60vmin;
      }
    }
  }
}