#contact {
  background-color: white;
  height: 100vh;
  font-family: $heading-font; 

  header {
    border: 1px solid transparent;
  }

  .content-side {
    height: 100vh;
    
    h1 {
      color: #020304;
      text-align: center;
      font-size: 4vw;
      margin-top: 0;
    }

    h4 {
      color: #020304;
    }

    .form-space {
      
    }

    nav {
      position: absolute;
      bottom: 2vmin;
      left: 0;  
      right: 0;
      text-align: center;

      a {
        &, &:hover, &:visited, &:active {
          color: #020304;
          text-transform: lowercase;
          font-size: 2vw;
          margin-right: 1em;
          margin-left: 1em;
          transition: transform 0.3s ease-in;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.2);
          color: #202A70;
        }
      }
    }
  }

  .picture-side {
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #202A70;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #020304;

    .live-map {
      height: 100vmin;
      width: 100%;
    }
  }
}