#projects {
  background-image: url(../images/backgrounds/wood.jpg);
  background-position: 0 10vmin;
  background-size: contain;
  height: 100vh;
  font-family: $heading-font; 
  color: white;
  text-align: center;
  
  .instruction {
    margin: 7em 0 0;
    padding: 0;
  }

  .project-space {
    // height: 90vmin;
    position: relative;
    top: 10vmin;
    background-color: transparent;


    .project-frame {
      height: 25vmin;
      margin: 0 0 2em;
      color: white;
      
      .black-back {
        background-color: rgba(0,0,0,2);
        height: 100%;
        width: 100%;
      }

      p {
        margin: 1em 0 1em;
      }
      
      img {
        width: 100%;
        height: 25vmin;
      }

      .the-thumbnail {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:hover {
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
    }
  }
}